nav {
  padding-right: 10px;
  display: flex;
  justify-content: flex-end;
}

a {
  margin-left: 20px;
  text-decoration: none;
  color: rgba(0,0,0,.87);
}

a:hover {
  text-decoration: underline;
}

form {
  margin: 100px auto 100px auto;
  max-width: 584px;
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
}

#search-bar {
  min-height: 44px;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  font-size: 22px;
  padding-left: 20px;
}

#search-bar:hover, #search-bar:focus {
  box-shadow: 0 1px 6px rgba(32,33,36,.28);
  outline: none;
}

#buttons {
  margin-top: 25px;
  display: flex;
  justify-content: center;
}

#buttons input {
  margin-left: 10px;
  marging-right: 10px;
  height: 36px;
  min-width: 54px;
  padding: 0 16px;
  background-color: #f8f9fa;
  border: none;
  border-radius: 4px;
  font-size: 14px;
}

#buttons input:hover {
  border: 1px solid #dadce0;
  box-shadow: 0 1px 1px rgba(0,0,0,.1);
}

label {
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.advanced {
  min-width: 360px;
  height: 25px;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  border-radius: 1px;
  padding-left: 10px;
}

.advanced:focus {
  border: 1px solid rgb(77, 144, 254);
  box-shadow:  rgba(0, 0, 0, 0.3) 0px 1px 2px 0px inset;
  outline: none;
}

#advanced-search {
  margin-left: auto;
  margin-right: 0;
  min-width: 120px;
  height: 30px;
  background-color: #4d90fe;
  background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
  border: 1px solid #3079ed;
  color: #fff;
}


#advanced-search:hover {
  background-color: #357ae8;
  background-image: -webkit-linear-gradient(top,#4d90fe,#357ae8);
}